@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .align-element {
    @apply max-w-6xl mx-auto p-4;
  }
}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  position: relative;
}

.blurry-image {
  filter: blur(8px);
  transition: filter 0.5s ease;
}

.loaded {
  filter: blur(0);
}

.like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.like-button:hover {
  background-color: #e2e8f0;
}

svg {
  fill: #767676;
}
.blurry-image {
  filter: blur(10px);
  transition: filter 0.5s ease;
}

.loaded {
  filter: blur(0);
}

.con-like {
  --red: rgb(255, 50, 50);
  position: relative;
  width: 20px;
  height: 20px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked ~ .checkmark .filled {
  display: block;
}

.con-like .like:checked ~ .checkmark .celebrate {
  display: block;
}

@keyframes kfr-filled {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 0.8;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

.arrow-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.arrow-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.arrow-button:hover .arrow-icon {
  transform: rotate(90deg);
}
